{% extends 'housing/base.html' %}

{% block title %}
    Список продаваемого жилья
{% endblock %}

{% block body %}
    <h1>Список продаваемого жилья</h1>
    {% if housing %}
        <div>
        {% for house in housing %}
            <div class="house">
                <h2>{{ house.title }}</h2>
                <p>{{ house.description }}</p>
                <p>Цена: {{ house.price }} руб.</p>
                {% if house.image %}
                    <img src="{{ house.image.url }}" alt="{{ house.title }}">
                {% else %}
                    <h3>Фото отсутствует</h3>
                {% endif %}
            <br>
            </div>
        {% endfor %}
    {% else %}
        <h3>Список пуст</h3>
        </div>
    {% endif %}
{% endblock %}